body {
  background-color: black;
}
.container:nth-child(2) > .row > button {
  border: 1px solid white;
  border-radius: 50%;
}
.container:nth-child(2) > .row > button > img {
  padding: 15px;
}
@media all and (width <= 294px) {
  .card-body > .row > .col {
    padding: 15px;
  }
}
@media all and (width <= 254px) {
  .card-body > .row > .col {
    padding: 12px;
  }
}
